<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title> 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
 </head> 
<body>



<div align="center">
 <table border="1">
 	<thead>
 		<tr>
 			<td>NAME</td>
 			<td>CRUSHNAME</td>
 			<td>RESULT</td>
 			<td>ACTION</td>		
 		</tr>
 	</thead>
 	<tr th:each="historyList : ${listHistory}">
 	
 		<td th:text="${historyList.name}"></td>
 		<td th:text="${historyList.crushname}"></td>
  		<td th:text="${historyList.result}"></td>
  		<td><a th:href="@{/delete-history/(id=${historyList.id})}">DELETE</a></td>
<!--   		<td th:hide="${historyList.id}"></td> -->
 	</tr>
 
 	
 </table>
 </div> 
</body>
</html>