<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Love calculator</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">	
</head>
<body>

		<div class="hero">
			
				<div class="sub-hero">
					<div id="error"></div>
					<form class="input-form" id="login" action="/login" method="post">
					
						<div class="login-error" th:if="${param.error}"> Invalid username or password</div>
						<div class="register-success" th:utext="${message}"></div>
						
						<input type="text" id="username" class="input-field" placeholder="Username" name="username">
						<input type="password" id="password" class="input-field" placeholder="Password" name="password">
						
						<input type="checkbox" value="true" name="check-box" class="checkbox-field"><span>I agree that this is only for fun </span>
						<input type="submit" class="submit-btn" value="Sign-in"><br>
						
						<span class="span">No account yet ? <a th:href="@{/sign-up}">register here</a></span>
					</form>
					

					
					
				</div>


		</div>

		



</body>
</html>